:root {
  --col-0: #0a0a0a;
  --col-1: #1a1a1a;
  --col-2: #ffffff;
  --col-3: #e2e2e2;
  --col-4: #d4a142;
  --col-5: #d0a85c;
  --col-6: #ef2940;
  --col-7: #181818;
}

.col-0 {
  color: var(--col-0);
}
.col-1 {
  color: var(--col-1);
}
.col-2 {
  color: var(--col-2);
}
.col-3 {
  color: var(--col-3);
}
.col-4 {
  color: var(--col-4);
}
.col-5 {
  color: var(--col-5);
}
.col-6 {
  color: var(--col-6);
}
.col-7 {
  color: var(--col-7);
}
