:root {
  --cor-0: #0a0a0a;
  --cor-1: #1a1a1a;
  --cor-2: #ffffff;
  --cor-3: #e2e2e2;
  --cor-4: #d4a142;
  --cor-5: #d0a85c;
  --cor-6: #ef2940;
  --cor-7: #181818;
  --cor-8: #0d3446;
}

.cor-0 {
  color: var(--cor-0);
}
.cor-1 {
  color: var(--cor-1);
}
.cor-2 {
  color: var(--cor-2);
}
.cor-3 {
  color: var(--cor-3);
}
.cor-4 {
  color: var(--cor-4);
}
.cor-5 {
  color: var(--cor-5);
}
.cor-6 {
  color: var(--cor-6);
}
.cor-7 {
  color: var(--cor-7);
}
.cor-8 {
  color: var(--cor-8);
}
