@font-face {
  font-family: Neue Montreal-R;
  src: url(/assets/fonts/NeueMontreal-Regular.otf);
}
@font-face {
  font-family: Neue Montreal-M;
  src: url(/assets/fonts/NeueMontreal-Medium.otf);
}
@font-face {
  font-family: Neue Montreal-Mi;
  src: url(/assets/fonts/NeueMontreal-MediumItalic.otf);
}
@font-face {
  font-family: Neue Montreal-B;
  src: url(/assets/fonts/NeueMontreal-Bold.otf);
}
@font-face {
  font-family: Neue Montreal-Bi;
  src: url(/assets/fonts/NeueMontreal-BoldItalic.otf);
}

/* FONT MONTSERRAT */
.font1-Pnm {
  font: 400 0.8rem/1 "Neue Montreal-R", sans-serif;
}
.font1-Pnm2 {
  font: 400 0.9rem/1 "Neue Montreal-R", sans-serif;
}
.font1-Pnm3 {
  font: 400 1rem/1 "Neue Montreal-R", sans-serif;
}
.font1-Pnm4 {
  font: 400 1.2rem/1.1 "Neue Montreal-R", sans-serif;
}

/* MEDIUM */
.font2-Mnm {
  font: 500 1rem/1.35 "Neue Montreal-M", sans-serif;
}
.font2-Mnm2 {
  font: 500 1.2rem/1 "Neue Montreal-M", sans-serif;
}
.font2-Mnm {
  font: 500 1.4rem/1 "Neue Montreal-M", sans-serif;
}
.font2-Mnmi {
  font: 500 1.4rem/1 "Neue Montreal-Mi", sans-serif;
}

/* SEMI e BOLD */
.font3-Bnm1 {
  font: 600 1.2rem/1 "Neue Montreal-P", sans-serif;
}
.font3-Bnm1-1 {
  font: 600 1.4rem/1 "Neue Montreal-P", sans-serif;
}

.font3-Bnm {
  font: 600 1.8rem/1 "Neue Montreal-B", sans-serif;
}
.font3-Bnm1 {
  font: 600 1.5rem/1 "Neue Montreal-B", sans-serif;
}
.font3-Bnm2 {
  font: 600 2rem/1 "Neue Montreal-B", sans-serif;
}
.font3-Bnm2i {
  font: 600 2rem/1 "Neue Montreal-Bi", sans-serif;
}
.font3-Bnmi {
  font: 600 2rem/1 "Neue Montreal-Bi", sans-serif;
}
.font3-Bnm3 {
  font: 600 2.8rem/1 "Neue Montreal-B", sans-serif;
}
.font3-Bnm3i {
  font: 600 2.8rem/1 "Neue Montreal-Bi", sans-serif;
}

.decoracao {
  text-decoration: underline wavy var(--cor-6);
}
.upc {
  text-transform: uppercase;
}
